<h3 class="bg-primary text-white p-2 ">{{categoryName}}</h3>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
      <th>Transactions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of products" [class.bg-secondary]="item.isActive==false">
      <td>{{item.id}}</td>
      <td>{{item.name}}</td>
      <td>{{item.price}}</td>
      <td>{{item.isActive}}</td>
      <td>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
